main{
    margin-top: 56px;
}

#chart01 g.row text{
    fill: #000;
}
#chart01 g.axis, 
#casesAndDeaths01 g.dc-legend, 
#cases-per-day g.dc-legend, 
#casesAndDeaths02 g.dc-legend  {display: none;}

#chart01 g.row._12 rect {fill-opacity: .4;}

#chart02 g.axis.y,
#barCasesGender g.axis.y{display: none;}

#chart02 .x .tick line,
#barCasesGender .x .tick line {display: none;}

#chart02 .x path.domain,
#barCasesGender .x path.domain{display: none;}

#chart02 text,
#barCasesGender text {font-size: 0.8rem;}

#barCasesGender rect {cursor: default;}
#barCasesGender rect:hover {fill-opacity: 1;}

/* map styling */
.info.legend.leaflet-control {
    font-size: 0.7rem;
    text-align: start;
}
.leaflet-bottom .leaflet-control {
	margin-bottom: 0px;
	}
.leaflet-right .leaflet-control {
	margin-right: 0px;
    }

.btn-group{
    position: absolute;
    top: 34px;
    right: 60px;
}